/* Look up css animations later */

#circle-container {
    position: relative;
    width: 400px;  /* Diameter of the circle */
    height: 400px; /* Diameter of the circle */
    border-radius: 50%;
    margin: 0 auto;
    border: 2px solid #ccc; /* Optional: to visualize the circle */
    top: 50px;
}

.player {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: center center;
    text-align: center;
}


.opponent {
    background-color: rgb(187, 30, 30);
}

.teammate {
    background-color: rgb(44, 78, 172);
}

.self {
    background-color: lightblue;
}

/* Position players in a circle */
#player1 {
    top: calc(100% - 40px);
    left: calc(50% - 40px);
}

#player2 {
    top: calc(75% - 40px);
    left: calc(6.7% - 40px);
}

#player3 {
    top: calc(25% - 40px);
    left: calc(6.7% - 40px);
}

#player4 {
    top: calc(0% - 40px);
    left: calc(50% - 40px);
}

#player5 {
    top: calc(25% - 40px);
    left: calc(93.3% - 40px);
    background-color: rgb(44, 78, 172);
}

#player6 {
    top: calc(75% - 40px);
    left: calc(93.3% - 40px);
}

.turn-circle {
    position: absolute;
    width: 86px;
    height: 86px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: center center;
    text-align: center;
}

#turn-circle1 {
    top: calc(100% - 43px);
    left: calc(50% - 43px);
}

#turn-circle2 {
    top: calc(75% - 43px);
    left: calc(6.7% - 43px);
}

#turn-circle3 {
    top: calc(25% - 43px);
    left: calc(6.7% - 43px);
}

#turn-circle4 {
    top: calc(0% - 43px);
    left: calc(50% - 43px)
}

#turn-circle5{
    top: calc(25% - 43px);
    left: calc(93.3% - 43px);
}

#turn-circle6 {
    top: calc(75% - 43px);
    left: calc(93.3% - 43px);
}

#hand {
    position: absolute;
    top: calc(65% - 50px);
    left: calc(50% - 450px);
    width: 900px;
    height: 200px;
}

.card {
    width: 100px;
    height: 200px;
}

#half-suit-choices {
    text-transform: capitalize;
}