html {
    background-color: #bdded5;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

h1 {
    color: #bb1b1b;
    font-size: 500%;
    margin: 1%;
    margin-top: 0%;
    padding-top: 1%;
}

h3 {
    font-size: 250%;
    margin: 1%;
}

#choose-label {
    margin-top: 2.5%;
}

h5 {
    color: #2a2ca5;
    margin: 1%;
    font-size: 100%;
}

fieldset {
    width: 35%;
    max-height: 20vh;
    overflow: scroll;
    padding: 0.75%;
    padding-bottom: 0;
}

.room-choice {
    font-size: 250%;
}

button {
    color: #2a2ca5;
    background-color: #94aea6;
    font-size: 200%;
}

#enter-room {
    margin-top: 1%;
}

#reenter-room {
    
}

input[type="radio"] {
    display: none;
}

input[name='roomName']:checked + label {
    background-color: #516660;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    color: #bdded5;
}

br {
    height: 0.5%;
}