html {
    background-color: #bdded5;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

input {
    position: absolute;
    top: 32vh;
    left: 40vw;
    color: #2a2ca5;
    background-color: #dcf1eb;
    height: 5vh;
    width: 20vw;
    font-size: 100%;
    text-align: center;
}

button {
    position: absolute;
    color: #2a2ca5;
    background-color: #94aea6;
    font-size: 3vh;
    top: 42vh;
    left: 42.5vw;
    height: 10vh;
    width: 15vw;

}