<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
        <script type="text/javascript" src="static/game.js" defer></script>
        <link rel="stylesheet" href="/static/game.css"/>
        <link rel="icon" type="image/png" href="/static/favicon.png">
    </head>

    <body>
        <h2 id="last-move">Loading</h2>
        <div id="scores-div">
            <h1 id="scores-header">Scores</h1>
            <h3 id="team-score">Team: 0</h3>
            <h3 id="opponent-score">Opponents: 0</h3>
        </div>
        <div id="circle-container">
            <div id="declare"><h1>Declare</h1></div>
            <div class="turn-circle" id="turn-circle1"></div>
            <div class="turn-circle" id="turn-circle2"></div>
            <div class="turn-circle" id="turn-circle3"></div>
            <div class="turn-circle" id="turn-circle4"></div>
            <div class="turn-circle" id="turn-circle5"></div>
            <div class="turn-circle" id="turn-circle6"></div>
            <div class="player self" id="player-div1">
                <h3 id="player1" class="player-name">Player 1</h3>
                <h3 class="hand-size" id="hand1">-</h3>
            </div>
            <div class="player opponent" id="player-div2">
                <h3 id="player2" class="player-name">Player2</h3>
                <h3 class="hand-size" id="hand2">-</h3>
            </div>
            <div class="player teammate" id="player-div3">
                <h3 id="player3" class="player-name">Player 3</h3>
                <h3 class="hand-size" id="hand3">-</h3>
            </div>
            <div class="player opponent" id="player-div4">
                <h3 id="player4" class="player-name">Player 4</h3>
                <h3 class="hand-size" id="hand4">-</h3>
            </div>
            <div class="player teammate" id="player-div5">
                <h3 id="player5" class="player-name">Player 5</h3>
                <h3 class="hand-size" id="hand5">-</h3>
            </div>
            <div class="player opponent" id="player-div6">
                <h3 id="player6" class="player-name">Player 6</h3>
                <h3 class="hand-size" id="hand6">-</h3>
            </div>
        </div>
        <div id="declare-card" hidden><img id="declare-card-image"></div>
        <div id="hand"></div>
        <div id="half-suit-choices" hidden>
            <select id="half-suits-dropdown">
                <option value="none" selected disabled>Which Half Suit?</option>
            </select>
        </div>
        <div id="card-choices" hidden></div>
    </body>
</html>