<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
        <script type="text/javascript" src="static/name.js" defer></script>
        <link rel="stylesheet" href="/static/name.css"/>
        <link rel="icon" type="image/png" href="/static/favicon.png">
    </head>

    <body>
        <input id="name" placeholder="Type your name here">
        <button id="submit-name">Enter waiting area</button>
    </body>
</html>