<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="static/rooms.js" defer></script>
        <link rel="stylesheet" href="/static/main.css"/>
    </head>

    <body>
        <button id="create room">Create room</button>
        <form action="/submit" method="post">
            <fieldset>
                <legend>Choose a room:</legend>
                <div id="options-container">
                    <!--Options will be added here by javascript-->
                </div>
                <div>
                    <button type="submit">Enter Room</button>
                </div>
            </fieldset>
    </body>
</html>