<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
        <script type="text/javascript" src="static/waiting_area.js" defer></script>
        <link rel="stylesheet" href="/static/waiting_room.css"/>
        <link rel="icon" type="image/x-icon" href="/favicon.png">
    </head>
    <body>
        <h1 id="top-label">Waiting for room host to begin the game</h1>
        <button id="start" hidden="true">Start the game</button>
    </body>
</html>